body {
	background: #3C6255;
	color: #EAE7B1;
	font-family: 'Share Tech Mono', monospace;

}

.big {
	font-size: 5vw;
}

.col-6 {
	padding: 30px;
}

.col-lg-8 {
	border-radius: 15px;
	overflow: hidden;
}

.highlight {
	background-color: #61876E;
	border-radius: 15px;
	padding: 5px;
	white-space: nowrap;
}

.highlight-sm {
	font-weight: bold;
}

.bg-low {
	background-color: #A6BB8D;
	color: black;
}

.bg-mid {
	/*background-color: #A6BB8D;*/
	background-color: #f1f3f4;
	color: black;
}

.btn-greeen {
	background-color: #EAE7B1;
	font-weight: bold;
	color: black;
}

.greeen {
	color: #EAE7B1;
}

/*.bg-mid > audio::-webkit-media-controls-panel {
  background-color: #f1f3f4;
}*/
/*
audio::-webkit-media-controls-panel {
  background-color: #A6BB8D;
}

audio {
    outline: none;
    border: none;
}*/