body {
	color: #3C6255;
	font-family: 'Roboto Mono', monospace;
	font-size: 100%;
}

.rubik {
	font-family: 'Rubik', sans-serif;
}

.bg-darkgreen {
	background: #3C6255;
	color: #EAE7B1;
}

.big {
	font-size: 300%;
}

.small {
	font-size: 95%;
}

.highlight {
	background-color: #61876E;
	border-radius: 15px;
	padding: 5px;
	white-space: nowrap;
}

.highlight-sm {
	font-weight: bold;
}

.bg-low {
	background-color: #A6BB8D;
	color: black;
}

.bg-mid {
	/*background-color: #A6BB8D;*/
	background-color: #f1f3f4;
	color: black;
}

.btn-yelow {
	background-color: #EAE7B1;
	font-weight: bold;
	color: black;
}

.btn-yelow:hover, .btn-sm:hover {
	opacity: 0.8;
}

.faded {
	opacity: 0.6
}

.link-light {
	color: #EAE7B1;
}